@import "tailwindcss";

:root {
  --primaryColor: #D92F4E;
}

body {
  font-family: var(--font-iranYekan), sans-serif;
  background: #f5f5f5;
}

/* helper classes */
.flex-row-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-col-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input, a {
  outline: none;
  touch-action: none;
}

